.contenNav{
    width: 500px;
    margin: auto;
}


@media (max-width:	720px) {
    .contenNav{
        width:  100%;
    }
}

.no-col{
    width: 2%;
}
.date-col{
    width: 9%;
}
.category-col{
    width: 9%;
}
.action-col{
    width:  2%;
}